@import '../../vars';

.weekMonths {
  display: grid;
  background-color: white;
  grid-column: 1/2;
  grid-template-rows: repeat(7, calc(100% / 7));

  & > .month {
    height: 100%;
    width: 100%;
    font-size: 0.8rem;
    color: lighten($green1, 20);
    text-align: center;
    text-transform: uppercase;
    text-orientation: upright;
    writing-mode: vertical-lr;
    font-family: 'Ubuntu Condensed', sans-serif;
    letter-spacing: 0.6rem;
    &.even {
      border-right: 2px solid lighten($monthEven, 20);
    }

    &.odd {
      border-right: 2px solid lighten($monthOdd, 30);
    }

    @for $i from 1 through 7 {
      &.len#{$i} {
        grid-row: 1 / #{$i + 1};
        &.secondMonth {
          grid-row: #{7 - $i + 1} / 8;
        }
      }
    }
  }
}

