@import '../../vars';

.container {
  display: grid;
  grid-template-columns: 20% 80%;
}

.day-content {
  display: grid;
  grid-template-columns: 2/3;
  grid-template-rows: repeat(7, calc(100% / 7));

  & > div {
      border-top: 1px solid lighten($green2, 40);
      border-bottom: 1px solid lighten($green2, 40);
      &:nth-child(1) {
        border-top: 0px;
      }

      &:nth-child(7) {
        border-bottom: 0px;
      }
  }

  & > span.filler {
    &:first-child {
      border-bottom: 2px solid lighten($green2, 40);
    }

    &:last-child {
      border-top: 2px solid lighten($green2, 40);
    }
  }

  @for $i from 1 through 7 {
    & > div:nth-child(#{$i}) {
      grid-row: #{$i} / #{$i+1};
    }
  }
}

.day-tasks {
  padding: .3em;
  & > div {
    display: flex;
    color: $dark;
    font-size: 85%;
    & > span:first-child {
      font-weight: 900;
      width: 15%;
    }

    & > span:last-child {

    }
  }
}
