@import '../../vars';

.startOfMonth {
  font-size: 0.8rem;
  color: lighten($green1, 20);
  text-align: center;
  text-transform: uppercase;
  text-orientation: upright;
  writing-mode: vertical-lr;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 0.6rem;
  & > span {
  }
}

.day {
  background-color: white;
  grid-column: 2/3;
  scroll-snap-coordinate: top;

  border-left: 2px solid lighten($monthOdd, 30);
  border-right: 2px solid lighten($green2, 30);
  border-top: 1px solid lighten($green2, 40);
  border-bottom: 1px solid lighten($green2, 40);

  &:first-child {
    border-top: 0px;
  }

  &:last-child {
    border-bottom: 0px;
  }

  padding: 0.25em;
  opacity: 1;

  @media (min-height: 538px) {
    padding: 0.5em;
  }

  &.today {
    background-color: lighten($green2, 40);
  }

  &.selected {
    background-color: lighten($brown1, 20);
    transition: background-color 50ms linear;
  }

  &.firstDayOfMonth {
    border-top: 1px solid lighten($green2, 10);
  }

  &.even {
    border-left: 2px solid lighten($monthEven, 20);
  }

  span {
    text-align: center;
    display: block;
    width: 100%;
  }

  .number {
    font-size: 1.15rem;
    @media (min-height: 538px) {
      font-size: 1.25rem;
    }
    font-weight: bold;
    line-height: 1.5;
    color: $green1;
  }

  .name {
    color: $green2;
  }
}

.content {
  padding: 10px;
  &-title {
    display: block;
    width: 100%;
    text-align: center;

    & > .month {
      font-size: 1.6rem;
      color: $green1;
      margin-right: .5rem;
    }

    & > .year {
      font-size: .9rem;
      color: $brown2;
    }
  }
}

