$dark: rgb(64,67,84);
$green1: rgb(73,88,91);
$green2: rgb(126,147,152);
$brown1: rgb(202,181,160);
$brown2: rgb(188,146,124);

#week-view {
  display: grid;
  grid-template-columns: 20% 80%;
}

#week-scrollbar {
  position: absolute;
  display: grid;
  grid-template-rows: repeat(7, 14.2857%);
  width: 20%;
  height: 90%;
  opacity: 0;
  z-index: -1;

  &.scrolling {
    background-color: lighten($green2, 30);
    opacity: 1;
  }
}

.days {
  display:grid;
  grid-template-rows: repeat(7, 14.2857%);
  &.scrolling {
    opacity: 0;
    & > .day {
      & > span {
        opacity: 0.25;
      }
    }
    & > .arrows {
      display: block;
    }
  }
}

.arrows {
  display: none;
  position: absolute;

  color: lighten($brown1, 10);
  font-size: 500%;
  padding-left: 5%;
}

// @for $i from 1 through 7 {
//   .day.visible:nth-child(#{$i}) {
//     grid-row: #{$i}/#{$i+1};
//   }
// }

.day {
  border-right: 2px solid lighten($green2, 30);
  border-top: 0px;
  padding: 0.25em;
  opacity: 1;

  @media (min-height: 538px) {
    padding: 0.5em;
  }

  &:last-child {
    border-bottom: 0px;
  }

  &.today {
    background-color: lighten($green2, 40);
  }

  &.selected {
    background-color: lighten($brown1, 20);
    transition: background-color 50ms linear;
  }

  span {
    text-align: center;
    display: block;
    width: 100%;
  }

  .number {
    font-size: 1.15rem;
    @media (min-height: 538px) {
      font-size: 1.25rem;
    }
    font-weight: bold;
    line-height: 1.5;
    color: $green1;
  }

  .name {
    color: $green2;
  }
}

.content {
  padding: 10px;
  &-title {
    display: block;
    width: 100%;
    text-align: center;

    & > .month {
      font-size: 1.6rem;
      color: $green1;
      margin-right: .5rem;
    }

    & > .year {
      font-size: .9rem;
      color: $brown2;
    }
  }
}

